body {
	font:  normal 15px 'Roboto', sans-serif;
	line-height: 1.5em;
	background-color: #eafffb;
	-webkit-font-smoothing: antialiased;
	color: #555;
}

input:not(.button),
textarea {
	padding: 1em;
	border-radius: 0;
	resize: vertical;
	font-family: Inconsolata, Inconsolata-g, Monaco, monospace;
}

input:active,
input:focus,
textarea:active,
textarea:focus {
	box-shadow: none;
	border: 1px solid #aaa;
}

a, a:active {
	color: #f7777f;
}

a:hover {
	color: #f6666f;
}

a.btg-title {
	text-transform: uppercase;
	font-weight: bold;
	font-size: 18px;
	text-decoration: none;
	letter-spacing: 1px;
	color: rgba(0, 0, 0, 0.5);
}

a.btg-title:hover {
	color: rgba(0, 0, 0, 0.99);
}

ul.btg-nav {
	list-style-type: none;
	margin: 0;
}

ul.btg-nav li {
	display: inline-block;
	margin-right: 1em;
}
ul.btg-nav li:not(:last-child):after {
	content: "|";
	padding-left: 15px;
	color: rgba(0, 0, 0, 0.2);
}

ul.btg-nav li a {
	font-size: 13px;
	font-weight: bold;
	text-decoration: none;
	text-transform: uppercase;
	letter-spacing: 1px;
	color: rgba(0, 0, 0, 0.5);
}
ul.btg-nav li a:hover {
	color: rgba(0, 0, 0, 0.99);
}

nav.nav {
	padding: 20px 0;
}

.btg-hero {
	padding: 30px 0;
}

main {
	padding: 50px 0;
}

header {
	padding-bottom: 10px;
	background-color: #eafffb;
}

footer {
	font-size: 13px;
	color: #777;
}

footer .container .row {
	padding: 40px 0 20px 0;
	text-align: center;
	border-top: 1px solid rgba(0,0,0,0.1);
}

.button, .button-primary, .button-success {
	border-radius: 0 !important;
}
.button-btg {
	color: #fff !important;
	background-color: #f7777f !important;
	border: 1px solid #f7777f !important;
}
.button-btg:hover {
	background-color: #f6666f !important;
	border: 1px solid #f6666f !important;
}


.right {
	float: right;
}
.center {
	text-align: center;
}
