<div class="container">
    <div class="row">
        <nav class="nav">
            <div class="four columns">
                <a href="/" class="btg-title">Buanga This Guy</a>
            </div>
            <div class="eight columns">
                <ul class="btg-nav right">
                    <li><a href="/about">about us</a></li>
                    {% if user %}
                    {% if user.role === 'admin' %}
                    <li><i class="icon-cog"> </i> <a href="/admin">admin</a></li>
                    {% endif %}
                    <li><i class="icon-unlock"> </i> <a href="/logout">log out</a></li>
                    <li>
                        <a href="/profile">
                            <img src="{{user.picture}}" class="profile-pic" />
                            <span class="profile"> {{user.name.split(' ')[0]}} </span>
                        </a>
                    </li>
                    {% endif %}
                </ul>
            </div>
        </nav>
    </div>
</div>
