{% extends 'layout.html' %}
{% block title %}Home{% endblock %}
{% block head %}
  {% parent %}
{% endblock %}

{% block content %}
<div class="btg-hero">
  <h4 class="center">Hello, Buang! Unsay ayo diha? Wala? Pariha ta mga buang. Ako pa nimo pisliton ko ng button sa ubos ay.</h4>
  <p class="center">...<p>
  <p class="center">
    <a href="/question" class="button button-primary">UG PANGUTANA HIGALA</a>
  </p>
</div>
<p class="center">Kahinumdom pa ka atong nagbitay ka sa kakaw?
Sus, ayha ko makaabot, pirti bya gyod nimong kapyot.
Hadlok man diay ka mabalian ug bukog!</p>
<p class="center">
	<em>- Alexjander Gwapito -</em>
</p>
{% endblock %}
