{% extends 'layout.html' %}
{% block title %}{{ title }}{% endblock %}
{% block head %}
  {% parent %}
{% endblock %}

{% block content %}
  {% if user %}
  <form action="/question" method="POST">
    <input type="hidden" name="_csrf" value="{{csrf}}">
    <textarea class="u-full-width" name="question" placeholder="Imong pangutana" required></textarea>
    <input class="button button-btg" type="submit" value="Pangutana {{user.name}}">
  </form>
  {% else %}
	<div class="center">
		<h1>I'm Back Bitches!</h1>
		<h4>Sa bisaya pa. Namalik ang mga <em>Iro'ng Buang!</em></h4>
		<br/>
		<p>
				<a href="/connect/facebook" class="button button-btg">LOG IN SA FACEBOOK</a>
		</p>
	</div>
  {% endif %}
{% endblock %}
