{% extends 'layout.html' %}
{% block title %}{{ title }}{% endblock %}
{% block head %}
  {% parent %}
{% endblock %}

{% block content %}
  {% if flash.error %}
  <div class="center">
    <p>{{flash.error}}</p>
  </div>
  {% endif %}
  {% if flash.notice %}
  <div class="center">
    <p>{{flash.notice}}</p>
  </div>
  {% endif %}
  <div class="center">
    <h3>I am back, bitches!</h3>
  </div>
  {% if user %}
  <form action="/question" method="POST">
    <input type="hidden" name="_csrf" value="{{csrf}}">
    <textarea class="u-full-width" name="question" placeholder="Imong pangutana" required></textarea>
    <input class="button button-btg" type="submit" value="Pangutana, {{user.name}}">
  </form>
  {% else %}
  <div class="center">
    <p>
      <a href="/connect/facebook" class="button button-btg button-btg-round"><i class="icon-lock"></i> LOG IN SA FACEBOOK</a>
    </p>
  </div>
  {% endif %}
  {% if questions.length %}
    {% for question in questions %}
      {% if loop.first %}<ul>{% endif %}
      <li class="conversation-wrapper">
        <div>
          {{question.updatedAt|date('l\, F j\, Y')}}
        </div>
        <div>
          {{question.updatedAt|date('g\:i A')}}
        </div>
        <div class="question">
          <span class="content-profile">
            <div class="profile-wrapper">
              <img src="images/anonymous.png" />
            </div>
          </span>
          <span class="content-text">{{question.text}}</span>
          <span class="content-status">
            <i class="icon-heart">{{question.likes.length}}</i>
          </span>
        </div>
        <div class="answer">
          <span class="content-status">
            <i class="icon-share">SHARE</i>
          </span>
          <span class="content-text">{{question.answer}}</span>
          <span class="content-profile">
            <div class="profile-wrapper">
              <img src="images/anonymous.png" />
            </div>
          </span>
        </div>
      </li>
      {% if loop.last %}</ul>{% endif %}
    {% endfor %}
  {% endif %}
{% endblock %}
