{% extends 'layout.html' %}
{% block title %}{{ title }}{% endblock %}
{% block head %}
  {% parent %}
{% endblock %}

{% block content %}
  {% if flash.error %}
  <div class="center">
    <p>{{flash.error}}</p>
  </div>
  {% endif %}
  <h3>{{question.text}}</h3>
  <hr>
  {% if !question.answer.length %}
    <form action="#" method="POST">
      <input type="hidden" name="_csrf" value="{{csrf}}">
      <textarea class="u-full-width" name="answer" placeholder="Imong tubag" required></textarea>
      <input class="button button-btg" type="submit" value="Tubag">
	  </form>
  {% else %}
    {{question.answer}}
  {% endif %}
{% endblock %}
